@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mafs/core.css";
@import "mafs/font.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MATERI VEKTOR */
.vektorperkalian {
  position: static;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}

.sudut2vektor {
  position: static;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}

.cosinusarah {
  position: static;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}


input[type=number] {
  -moz-appearance: textfield;
}

* {
  scroll-behavior: smooth;
}